target/*
nbactions.xml
*.log
/DominatingSpecies.iml
/.idea
/DominatingSpeciesDao/target/
/DominatingSpeciesApi/target/
/DominatingSpeciesService/target/
/DominatingSpeciesService (copy)/target/
/DominatingSpeciesWeb/target/